{% extends "main.html" %} 

{% block content %} 
<div class="container">
    <h1>Baseball Card Tracker</h1>
  </div>
<form>
  <select class="form-select" aria-label="Default select example">
    <option selected>Year</option>
    <option value="2021">2021</option>
  </select>

  <select class="form-select" aria-label="Default select example">
    <option selected>Brand</option>
    <option value="Topps">Topps</option>
  </select>

  <select class="form-select" aria-label="Default select example">
    <option selected>Line</option>
    <option value="Series 1">Series 1</option>
  </select>

  <select class="form-select" aria-label="Default select example">
    <option selected>Set</option>
    <option value="Base">Base</option>
    <option value="Topps 1952 Redux">1952 Redux</option>
    <option value="Topps 1952 Redux Chrome">1952 Redux Chrome</option>
  </select>

    <div class="mb-3">
    <label for="cardNumber" class="form-label">Card number:</label>
    <input type="number" class="form-control" id="cardNumber" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %} 
